{{!-- <div class="running-text">
  <marquee></marquee>
</div> --}}

<div class="mt-3 mr-3" id="table-queue"><center><h1>Tunggu Sebentar ...</h1></center></div>

<div class="footer">
  <i class="fa fa-code"></i> <i class="fa fa-heart"></i>
</div>
